.app
{
  background-color:lightgray;
  width:1200px;
  padding: 20px;
  min-height: 500px;
  margin: 0 auto;
  border: black 2px solid;
}
.header
{
    height: 150px;
    background-color: #6AA84F;
    margin-bottom: 20px;
    border: black 2px solid;
}

.navigation
{
    background-color: #6FA8DC;
    display: inline-block;
    height:500px;
    width:300px;
    vertical-align: top;
    border: black 2px solid;
}
.main
{
    background-color: #e06666;
    display: inline-block;
    width:830px;
    padding:20px;
    margin-left: 20px;
    border: black 2px solid;
}
.subcontent
{
    background-color: #ffd966;
    display: inline-block;
    width:259px;
    height:400px;
    margin-right: 20px;
    border: black 2px solid;
}
.main div:nth-child(3)
{
    margin-right: 0;
}
.advertisement
{
    background-color: #b4a7d6;
    display: inline-block;
    width: 825px;
    height: 100px;
    margin-top: 20px;
    border: black 2px solid;
}

